:root {
    --body-bg-color: #d9d9d9;
    --container-bg-color: #fafafa;
    --header-bg-color: #fafafa;
    --shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    --color-light: #fafafa;
    --color-dark: #000000;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--body-bg-color);
}

.container {
    background-color: var(--container-bg-color);
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    padding: 15px;
}
