@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Limelight&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

:root {
    --body-bg-color: #d9d9d9;
    --container-bg-color: #f3f3f3;
    --header-bg-color: #f3f3f3;
    --footer-bg-color: #f3f3f3;
    --shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    --color-light: #f3f3f3;
    --color-dark: #000000;
    --button-shadow-length: 8px;
    --header-height: 65px;
}

body {
    font-family: "Livvic", "Libre Franklin", sans-serif, serif;
    background-color: var(--body-bg-color);
}

.container {
    background-color: var(--container-bg-color);
    border-radius: 0.5em;
    box-shadow: var(--shadow);
    padding: 15px;
}
