/*
    display: "Limelight"
    regular: "Libre Franklin", "Livvic"
*/
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Limelight&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    --font-title: "JetBrains Mono";
    --font-heading: "JetBrains Mono";
    --font-sub-heading: "JetBrains Mono";
    --font-body: "JetBrains Mono";

    --font-size-title: 2em;
    --font-size-heading: 1.4em;
    --font-size-sub-heading: 1.1em;
    --font-size-body: 1em;

    --body-bg-color: #1f1f1f;
    --container-bg-color: #f3f3f3;
    --header-bg-color: #f3f3f3;
    --header-height: 65px;

    --shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    --button-shadow-length: 8px;

    --content-width: 610px;

    --color-light: #f3f3f3;
    --color-dark: #000000;

    --orange: #f55943;
    --orange-light: #ffc2ae;
    --orange-dark: #e73e27;

    --purple: #9340fd;
    --purple-light: #e0b8ff;
    --purple-dark: #7c27e7;

    --pink: #f54399;
    --pink-light: #ffaeed;
    --pink-dark: #e72783;
}

body {
    font-family: "Libre Franklin", "Livvic", sans-serif, serif;
    background-color: var(--body-bg-color);
    margin: 0;
}

h1 {
    font-family: "Limelight";
}

button:hover {
    cursor: pointer;
}

.headerDivider {
    width: 12px;
    height: auto;
}

#menuBtn {
    background-color: var(--pink);
    box-shadow: 0px var(--button-shadow-length) var(--pink-dark);
    color: var(--pink-light);
    width: 48px;
    padding: 5px;
}

#menuBtn:active {
    box-shadow: 0px 0px black;
}

#menuBtn img {
    width: 90%;
    height: auto;
}

#dropdownMenu {
    position: absolute;
    z-index: 99;
    top: calc(var(--header-height) + 25px);
    width: 200px;
    border-color: var(--pink);
    border-width: 8px;
    border-style: solid;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.container {
    background-color: var(--container-bg-color);
    box-shadow: var(--shadow);
    border-radius: 8px;
    padding: 15px;
}
