body {
    background-color: var(--body-bg-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.projectGrid {
    max-width: 600px;
    width: 100vw;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    transition: filter 500ms ease;
}

.project {
    background-color: var(--container-bg-color);
    color: black;
    padding: 0;
    box-shadow: var(--shadow);
    border: none;
    margin: auto 15px;
    border-radius: 8px;

    width: 180px;
    height: 240px;

    transition: scale 0.2s ease;
}

.project:hover {
    scale: 1.1;
}

.projectIcon {
    margin: 35px;
    margin-bottom: 0px;
    width: 110px;
    height: 110px;
    border-radius: 8px;
}

.projectLabel {
    font-size: 1em;
    display: flex;
    justify-content: center;
}

/* @keyframes moveAround {
    0% {
        transform: translateX(200vw);
    }
    100% {
        transform: translateX(-200vw);
    }
}

#scrollContainer img {
    position: absolute;
    top: 90vh;
    height: 25px;
    box-shadow: 0px 6px 8px yellowgreen;
    animation: moveAround linear infinite 40s;
} */
