
body {
    background-color: var(--body-bg-color);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--header-bg-color);
    box-shadow: var(--shadow);
    border-radius: .5em;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Zen Dots";
}

#logo {
    height: 50px;
    margin-left: 15px;
    display: inline;
}

#logo img {
    height: 50px;
    width: 50px;
}

#projects {
    margin: 50px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.project {
    background-color: var(--container-bg-color);
    padding: 30px;
    margin: auto 15px;
    border-radius: .5em;
    box-shadow: var(--shadow);
    transition: scale 0.2s ease;
    color: black;
    width: 120px;
    height: 150px;
}

.project:hover {
    scale: 1.1;
}

.projectIcon {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
}

.projectLabel {
    font-size: 1em;
}

a {
    text-decoration: none;
}

#hambergerIcon {
    margin-right: 15px;
    margin-left: 15px;
    max-width: 35px;
    max-height: 35px;
}

#hambergerIcon:hover {
    scale: 1.05;
}

#hambergerIcon img {
    background-color: var(--header-bg-color);
    width: 35px;
    height: 35px;
}

.hambergerMenu {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    color:black;
    z-index: 6;
    border-radius: .5em;
    box-shadow: var(--shadow);
}

.hambergerMenu ul {
    list-style-type: none;
    width: 100px;
    padding: 0 20px;
    text-align: center;
}

.hambergerMenu ul li {
    margin: 10px 0px;
}