body {
    background-color: white;
    font-family: "Sans", Arial, "Courier New", Courier, monospace;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
}

p {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

#imageCaroucel {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slide-left-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes scale {
    0% {
        scale: 0.9;
    }
    100% {
        scale: 1;
    }
}
.caroucelImg {
    max-width: 200px;
    left: 200px;
    animation: scale 500ms ease backwards;
    overflow: auto;
}

.caroucelImg {
}

.caroucelControls {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.caroucelControls:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#caroucelLeftControl {
    margin-right: 25px;
}

#caroucelRightControl {
    margin-left: 25px;
}
