h1 {
    font-family: "Limelight";
    font-size: 32px;
    color: #000000;
}

p {
    margin: 15px auto;
    max-width: 300px;
}

input {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
}

.dice {
    margin: 5px;
}

#diceForm {
    margin: 30px auto;
    text-align: center;
    max-width: 500px;
    width: 85vw;
}

#diceForm label {
    font-size: 1em;
}

#diceImages {
    text-align: center;
    max-width: 450px;
    margin: auto;
}

#rollBtn {
    font-family: "Limelight";
    font-size: 20px;
    color: #ecb8ff;
    border-style: hidden;
    padding: 5px 10px;
    background-color: #aa45fa;
    box-shadow: 0px 4px #7c27e7;
    margin-top: 22px;
    margin-bottom: 4px;
    width: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#rollBtn:active {
    box-shadow: 0px 0px black;
    margin-top: 26px;
    margin-bottom: 0px;
}

#numDice {
    font-size: 1em;
    max-width: 100px;
}
