a {
    text-decoration: none;
}

p {
    font-family: "Libre Franklin";
    font-size: 16px;
}

#aboutContainer {
    max-width: 500px;
    width: 85vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#socials {
    margin-top: 32px;
    margin-bottom: 20px;
}

#socials a {
    margin: 0px 8px;
}

#socials img {
    height: 35px;
    width: auto;
    scale: 1;
    transition: scale 100ms;
}

#socials img:hover {
    scale: 1.1;
}
