body {
    background-color: #d9d9d9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    max-width: 500px;
    width: 85vw;
    padding-top: 100px;
    height: 400px;
}

button {
    background-color: var(--purple);
    box-shadow: 0px var(--button-shadow-length) var(--purple-dark);
    color: var(--purple-light);
    font-family: "Limelight";
    font-size: 50px;
    padding: 15px;
    border-width: 0;
    border-radius: 0;
    width: 350px;
    margin-top: 15px;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    transition: box-shadow 0ms;
    transition: margin-top 0ms;
}

button:active {
    box-shadow: 0px 0px #e73e27;
    margin-top: calc(var(--button-shadow-length) + 15px);
}

p {
    font-family: "Limelight";
    color: black;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
