body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--body-bg-color);
}

#diceForm {
    background-color: var(--container-bg-color);
    border-radius: 15px;
    box-shadow: var(--shadow);
    margin: 30px auto;
    text-align: center;
    padding: 15px;
    max-width: 450px;
}

h1 {
    font-family: "Zen Dots";
    color: #f43866ff;
}

#diceForm label {
    font-size: 1em;
}

p {
    margin: 15px auto;
    max-width: 300px;
}

#diceImages {
    text-align: center;
    max-width: 450px;
    margin: auto;
}

.dice {
    margin: 5px;
}

#rollBtn {
    font-size: 1em;
    border-style: hidden;
    padding: 5px 10px;
    border-radius: .5em;
}

#numDice {
    font-size: 1em;
    max-width: 100px
}